#cartBody{
right: 2rem;
    position: fixed;
z-index: 999;
max-height: 25vmax; 
overflow-y: scroll;
background-color: white;
border: solid #2176AE .4vmax;
border-radius: .8vmax;
}

.cart-image{
    max-width: 5vmax;
}

@media screen and (max-width: 450px) {
    #cartBody{

            position: fixed;
        z-index: 999;
        max-height: 25vmax; 
        overflow-y: scroll;
        background-color: white;
        border: solid #2176AE .4vmax;
        border-radius: .8vmax;
        }
}