.header_title{

    color: #36393b;
}

.banner_display{
    border-top: solid #c49799 .4vmax;
    border-bottom: solid #bfb6bb .6vmax;
    height: auto;
    /* background-color: #a5d8ff; */
    background-color:  #40bae2;


    ;

}

    
.banner_image{
    width: 3vmax;
    height: auto;
    margin-left: 1vmax;
    margin-top: 1vmax;
    margin: 1vmax;
}

/* 
#40bae2;
#bfb6bb
#c49799
#a5d8ff
#36393b */