.header_title{

    color: #E8EEF2;
    text-align: center;
    font-size: 7vmax;
}

.banner_display{
    border-top: solid #2176AE .4vmax;
    border-bottom: solid #011936 .1vmax;
    height: auto;
    /* background-color: #F46036; */

    border-top: solid #000000 0.2vmax;
    height: auto;

}

    
.banner_image{
    width: 3vmax;
    height: auto;
    margin-left: 1vmax;
    margin-top: 1vmax;
    margin: 1vmax;
}


@media screen and (max-width: 450px) {
.header_title{

    color: #E8EEF2;
    text-align: center;
    max-width: 25vmax;
}
}
/* 
#2176AE;
#2176AE
#011936
#F46036
#F46036 */