#fricExt {
  display: none; }

  #fricExtMan{
    display: none;
  }
  #fricExtStanChoi{
    display: none;
  }

  #fricExtStanLockChoi{
    display: none;
  }

  #singAxManLockChoi{
    display: none;
  }

  #singAxPneuFricChoi{
    display: none;
  }
  #singAxHydStanSwinChoi{
    display: none;
  }
  #safeExtChoi{
    display: none;
  }
  
  #safeFlexExtChoi {
    display: none;
  }

  #polyHydrauChoi {
    display: none;
  }
  
  #polyHydrauStanChoi {
    display: none;
  }
  #polyPneuChoi {
    display: none;
  }

  
  
.card-img-top {
  width: 100%;
  height: auto;
  align-items: center; }

.cardcontainer {
  padding: 2% 0;
  margin: 0 auto;
  width: 100%; }

.card-title {
  font-size: medium;
  align-items: center; }

.card-body {
  padding: 0; }

.item a {
  display: none; }

.item:hover .card-text {
  display: flex;
  background-position: center; }

.item:hover .card-img-top {
  width: 25%;
  height: fit-content; }

.item:hover a {
  display: flex;
  text-align: center; }

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh; }

@media (max-width: 632px) {
  .gallery-wrap {
    flex-direction: column; } }

.item {
  flex: 1;
  height: 100%;
  width: 10%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
  overflow: hidden;
  background-color: #08719e; }
  .item:hover {
    flex: 30;
    background-image: none;
    text-align: center;
    background-color: #f9fcd6; }

.social {
  position: absolute;
  right: 35px;
  bottom: 0; }
  .social img {
    display: block;
    width: 32px; }

.social {
  position: absolute;
  right: 35px;
  bottom: 0; }
  .social img {
    display: block;
    width: 32px; }

.item:hover img {
  size: 15%; }
