
$body-font: "Open Sans", sans-serif;
$header-font: "Lobster", cursive;

#modalPic {
            width: 100%;
            max-width: 200px ;
        }

.col-sm-12 {
    .card {
        width: 300;
        padding: 5px;
        margin: 5px;
    }
}
        
.card {
    .card-header{
        p{
            color:#08719e ;
        }
    }
}

body {
    color: #fbf8be;
    color:#08719e;
    
}

.card {
    
}

.card-outside{
    height: 600px;
    display:inline-block;
    position: relative;
}

.img-responsive {
    display: block;
    max-width: 50%;
    height: auto;
}