#modalPic {
  width: 100%;
  max-width: 200px; }

  nav {
    background-color: #08719e   ;
}
footer {
    background-image: linear-gradient(rgb(184, 182, 182), white);
    padding: 60px 0;
}

div {
    position: relative;
}
a{
    text-decoration: none;
}
header {
    background-color: #34b4eb !important ;
}
body {
    background-image:linear-gradient (#b0a330, white);
}