    /* 
#40bae2
#2176AE
;
#bfb6bb
#90A9B7

#c49799
#011936

#a5d8ff
#F46036

#F46036 
#E8EEF2
*/


/* body {
    font-family: "Lato", sans-serif;
    transition: background-color .1s;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "mainOne"
    "mainTwo"
    "mainThree"
    "mainFour"
    "mainFive"
;
  } */

  #mainKitViewport{
    display: grid;
    grid-template-columns:  15% 85% ;
    grid-template-rows: auto;
    grid-template-areas: 
"itemNavigator kitMain";


    /* "mainNavigator showSection "
    "mainNavigator kneeSection "
    "mainNavigator footSection "
    "mainNavigator linerSection "
    "mainNavigator pxCompSection1 "
    "mainNavigator pxCompSection2 "
    "mainNavigator pxCompSection3 "
    "mainNavigator mainShowSection "
  
; */

  }

  #kitMain{
    grid-area: kitMain;
    }
  #itemNavigator{
      grid-area: itemNavigator;
    }
    

  .noShowKnees{
    display: none;
  }

  .noShow{
    display: none;
  }


  .noShowOne{
    display: initial;
  }
  

  
  .myItemNavigator .secButtons {
    padding: .8vmax .1vmax;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    background-color: black;
  }

  .myItemNavigator .secButtons:hover{
color:aliceblue

  }


  .mainChoice {
    padding: 1vmax 1vmax 2vmax .2vmax;
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.3s;
    background-color: #7f8891;

  }
   .mainChoice:hover{
    color:aliceblue
    
      }
  
   .indivChoice {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #7f8891;
    display: block;
    transition: 0.3s;
    background-color: black;
    width: 100%;
  }
   .indivChoice:hover{
    color:aliceblue
    
      }

  
   .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #08719e;
    text-decoration: none;
  }
  
   .closebtn:hover{
    color:aliceblue;
    background-color: black;
    
      }
  
  #main {
    transition: margin-left .5s;
    padding: .2vmax;
  }

  .mainNavigation{
    width:100%;

    text-align: center;
    position: relative;
}

  .mainNavigation{
    width:100%;
    /* padding: 2%; */
    /* margin: 4px 6px; */
    text-align: center;
    position: relative;
    height: 4vmax;

}
#mainNavigation{
border-top: solid #000000 .1vmax;
border-bottom: solid #000000 .1vmax;

background-color: #36454F;

;
margin-bottom: .2vmax;}
.mobileNav{
  display: none;
}
.hamButton{
  display: none;
}

.nav-item{
  text-decoration: none;
margin: 0 1vmax;
color: aliceblue;
/* border: solid #F46036 .1vmax; */


}

.fullSizeNav{

  display: block;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "homeButt"
  "TFPinBut"
  "TFSucBut"
  "TTPinBut"
  "TTSucBut"
  "PDFBut"
  "VCareBut";
  width: 100%;
  height:4vmax;
font-size: 1.5vmax;
text-align: center;
padding-top: 1vmax;
}

.fullSizeNav a {
  padding-left: 2vmax;
  padding-right: 2vmax;
  
}


#homeButt{
  grid-area: homeButt;
}
#TFPinBut{
  grid-area: TFPinBut;
}
#TFSucBut{
  grid-area: TFSucBut;
}
#TTPinBut{
  grid-area: TTPinBut;
}
#TTSucBut{
  grid-area: TTSucBut;
}
#PDFBut{
  grid-area: PDFBut;
}
#VCareBut{
  grid-area: VCareBut;
}

.mobileNavList{
  list-style: none;
  padding-left: 0;
  max-width: 100%;
}




#kneeItemSectionJS{
grid-area: kneeSection;
}

#footItemSectionJS{
  grid-area: footSection;

}

#linerItemSectionJS{
  grid-area: linerSection;

}

#pxCompItemSectionJS{
  grid-area: pxCompSection1;

}

#pxCompItemSectionJSKS{
  grid-area: pxCompSection2;

}

#pxCompItemSectionJSpxComp{
  grid-area: pxCompSection3;

}

#mainpageSectionforJS{
  grid-area: mainShowSection;

}

.myItemNavigator{
  height: 100%;
  width: 16vmax;
  /* z-index: 1; */
  /* top: 0; */
  /* left: 0; */
  /* transition: 0.5s; */
  padding-top: 4vmax;
  padding-bottom: 4vmax;
  padding-left: 2vmax;

  grid-area: mainNavigator;
}
  

.mainpage{
  display: grid;
justify-content: center;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: auto;

}








@media screen and (max-width: 768px){

  .mainpage{
    display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  
  }

  #main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "mainNavigator showSection showSection"
    "mainNavigator kneeSection kneeSection"
    "mainNavigator footSection footSection"
    "mainNavigator linerSection linerSection"
    "mainNavigator pxCompSection1 pxCompSection1"
    "mainNavigator pxCompSection2 pxCompSection2"
    "mainNavigator pxCompSection3 pxCompSection3"
    "mainNavigator mainShowSection mainShowSection"
  
  ;
  }

  
}
































  @media screen and (max-width: 450px) {
    .itemNavigator {padding-top: 15px;}
    .itemNavigator a {font-size: 18px;}

    .myItemNavigator {
      text-decoration: none;
      display: block;
      transition: 0.3s;
      width: 100%;
      position: initial;
    }

    #mainKitViewport{
      height: auto;
    }
    .myItemNavigator{
      height: 100%;
      width: 16vmax;
      /* z-index: 1; */
      /* top: 0; */
      /* left: 0; */
      /* transition: 0.5s; */
      /* padding-top: 4vmax; */
      /* padding-bottom: 4vmax; */
      /* padding-left: 0; */
      padding: 4vmax .65vmax;
    
      grid-area: mainNavigator;
    }

    .myItemNavigator .secButtons {
      padding: .8vmax .4vmax;
      text-decoration: none;
      color: #818181;
      font-size: 1.8vmax;
      display: block;
      transition: 0.3s;
      background-color: black;
  
    }

    .sectionSizing{
      padding-bottom: 1.2vmax;
    }
    .mobileNavigationBut{display: none;}

    .mainpage{
      display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    
    }

    .mobileNav{
      display: block;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas: "homeButtonMobile"
      "aboutButtonMobile"
      "storiesButtonMobile"
      "galleryButtonMobile";
      width: 51.5vmax;
      margin-bottom: 1vmax;
      margin-top: 1vmax;
  }
  
  .allNav{
      position: relative;
  }
  
  #homeButtonMobile{
      grid-area: homeButtonMobile;
  }
  
  #aboutButtonMobile{
      grid-area: aboutButtonMobile;
  }
  #storiesButtonMobile{
      grid-area: storiesButtonMobile;
  }
  #galleryButtonMobile{
      grid-area: galleryButtonMobile;
  }
    .mainNavigation .mainNavigationBut {
      background-color: black; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: none;
  
  }
  .indivChoice {
    padding: 1vmax 1vmax 2vmax .2vmax;
    text-decoration: none;
    font-size: 15px;
    color: #7f8891;
    display: block;
    transition: 0.3s;
    background-color: black;
    width: 100%;
  }
  .mainNavigation{
    width:100%;
    /* padding: 2%; */
    /* margin: 4px 6px; */
    text-align: center;
    position: relative;
  
  }
  .showMobNavItems{
    display:flex;
    width: 3vmax;
    height: auto;
    width: 4.2vmax;
    height: 3vmax;
    /* position: fixed; */
    right: 1vmax;
    background-color: transparent; 
    border: none;
    margin-left: 16vmax;
  }
  .mobileNavigationBut{
    font-size: 1.5vmax;
    color:#08719e;
  }
  .showMobNavItems{
    display:flex;
    width: 3vmax;
    height: auto;
    width: 14vmax;
    height: 4vmax;
    /* position: fixed; */
    right: 1vmax;
    background-color: transparent; 
    border: none;
    text-decoration: none;
    padding-top: 1vmax;
  }
  .hamButton{
    background-image: url(../images/icons/icons8-menu-30.png);
    background-color: transparent; 
    background-repeat: no-repeat; 
    width: 4.2vmax;
    height: 3vmax;
    position: relative;
    margin-left: 2vmax;
    right: 1vmax;
    min-width: 32px;
    border: none;
    display: block;
    padding: 0;
  }
  .fullSizeNav{display: none;}
  .mainChoice {
    padding: 1vmax 1vmax 2vmax .2vmax;
    text-decoration: none;
    font-size: 1.5vmax;
    color: black;
    display: block;
    transition: 0.3s;
    background-color: #7f8891;

  }
    }
  











  