body {
    font-family: "Lato", sans-serif;
    transition: background-color .1s;
  }

  .noShowKnees{
    display: none;
  }

  .noShow{
    display: none;
  }


  .noShowOne{
    display: initial;
  }
  
  .myItemNavigator{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .myItemNavigator .secButtons {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    background-color: black;

  }

  .myItemNavigator .secButtons:hover{
color:aliceblue

  }


  .myItemNavigator .mainChoice {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #7f8891;
    display: block;
    transition: 0.3s;
    background-color: black;

  }
  .myItemNavigator .mainChoice:hover{
    color:aliceblue
    
      }
  
  .myItemNavigator .indivChoice {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #7f8891;
    display: block;
    transition: 0.3s;
    background-color: black;
    width: 250px;
  }
  .myItemNavigator .indivChoice:hover{
    color:aliceblue
    
      }

  
  .myItemNavigator .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #08719e;
    text-decoration: none;
  }
  
  .myItemNavigator .closebtn:hover{
    color:aliceblue;
    background-color: black;
    
      }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }


  
  @media screen and (max-width: 450px) {
    .itemNavigator {padding-top: 15px;}
    .itemNavigator a {font-size: 18px;}

    .myItemNavigator a {
      padding: 2px 2px 2px 6px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }


  }