
.information2{
    grid-area: information2;
    text-align: right;
    margin-bottom: 1vmax;
    margin-right: 1vmax;
}
.information{
    grid-area: information;
    text-align: right;
    margin-right: 1vmax;
    margin-top: 1vmax;
    
}
.information1{
    grid-area: information1;
    margin-left: 1vmax;
}
.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
    position: relative;
}
.invoice-box table.top {
    grid-area: top;

}

.item1{
    grid-area: item1;

    font-size: 12px;
    text-align: center;
}

.item2{
    grid-area: item2;
    text-align: center;

    font-size: 12px;
}

.item3{
    grid-area: item3;

    font-size: 12px;
    text-align: center;
}

.item4{
    grid-area: item4;
    text-align: center;

    font-size: 12px;

}

.item5{
    grid-area: item5;
    text-align: center;

    font-size: 12px;


    display: grid;
    max-width: 750px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    /* margin-top: 60px; */
    /* padding: 0; */
    border: none;
    /* box-shadow: 0 0 10px rgb(0 0 0 / 15%); */
    font-size: 16px;
    /* line-height: 24px; */
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
    grid-gap: .5rem;
    /* padding: 2px; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "compHead1 compHead1 compHead1"
    "comp1 comp2 comp3"


 
}
/* #pxCompSection{
    display: grid;
    max-width: 750px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    border: none;
    font-size: 16px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
    grid-gap: .5rem;
  
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "compHead1 compHead1 compHead1"
    "comp1 comp2 comp3"

} */
.mainOne{  grid-area: mainOne;
}

.mainTwo{  grid-area: mainTwo;
}

.mainThree{  grid-area: mainThree;
}

.mainFour{  grid-area: mainFour;
}

.mainFive{  grid-area: mainFive;
}

body {
    font-family: "Lato", sans-serif;
    transition: background-color .1s;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "mainOne"
    "mainTwo"
    "mainThree"
    "mainFour"
    "mainFive"
;
  }
                    .componentHeading{
                        grid-area: compHead1;
                        text-align: center;


                    }
                    #item5SS{
                        grid-area: comp1;
                        text-align: center;

                    
                    }
                    #item5KS{
                        grid-area: comp2;
                        text-align: center;

                    
                    }
                    #item5Comp{
                        grid-area: comp3;
                        text-align: center;

                    
                    }

.item6{
    grid-area: item6;
    text-align: center;

    font-size: 12px;
}

.item7{
    grid-area: item7;
    text-align: center;

    font-size: 12px;
}

.title {
    max-width: 150px;
    max-height: 150px;
    grid-area: title;
}

.heading{
    background-color: grey;
    color:black;
}

.heading.cent{
    text-align: center;
}



.box {
    
    max-width: 750px;
    max-height: 900px;
    height: 900px;
    width: 750px;
    margin: auto;
    margin-bottom: 25px;
    padding: 5px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
 
    grid-gap: 1rem;
    ;
}
.box .top {
    display: grid;
    max-width: 750px;
    /* width: 733px; */
    width: auto;

    max-height: 300px;
    /* margin: 2px; */
    height: 100%;
    /* padding: 0; */
    border: none;
    /* box-shadow: 0 0 10px rgb(0 0 0 / 15%); */
    font-size: 16px;
    /* line-height: 24px; */
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
    grid-gap: 1rem;
    /* padding: 0; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2;
    grid-template-areas: "title . . information"
    "information1 information1 . information2"
 ;
}
.box .body {
    display: grid;
    max-width: 750px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    /* margin-top: 60px; */
    /* padding: 0; */
    border: none;
    /* box-shadow: 0 0 10px rgb(0 0 0 / 15%); */
    font-size: 16px;
    /* line-height: 24px; */
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
    grid-gap: .5rem;
    /* padding: 2px; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "item2 item1 item1 item3"
    "item2 item1 item1 item3"
    "item4 item5 item5 item5"
;
}

.btn {
    margin: 15px;
}
#tfPDFDocMobile{
    display: none;
}
@media screen and (max-width: 450px) {
    #tfPDFDocMobile{
        display: initial;
    }
    .boxMobile {
    
        max-width: 300px;
        max-height: 350px;
        height: 350px;
        width: 300px;
        margin-left: 7vmax;
        margin-bottom: 6px;
        /* padding: 7px; */
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        font-size: 8px;
        line-height: 6px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
     
        grid-gap: 1rem;
        /* padding: .5rem; */
        ;
    }
    .boxMobile .topMobile {
        display: grid;
        width: 100%;
        max-height: 100px;
        margin-left: 2px;
        margin-top: 2px;
        height: 100%;
        padding: 0;
        border: none;
        /* box-shadow: 0 0 10px rgb(0 0 0 / 15%); */
        font-size: 8px;
        /* line-height: 24px; */
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
        grid-gap: 1rem;
        padding: 0;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "title . . information"
        "information1 information1 . information2";
    }
    .boxMobile .bodyMobile {
        display: grid;
        /* width: 190px; */
        width: 95%;
        margin-left: 10px;
        height: 70%;
        /* margin-top: 4px; */
        /* padding: 0; */
        border: none;
        /* box-shadow: 0 0 10px rgb(0 0 0 / 15%); */
        font-size: 12px;
        /* line-height: 24px; */
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
        grid-gap: 4px;
        /* padding: 1px; */
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "mFeetPDF mDemographicsPDF mKneesPDF "
        
        "mLinersPDF mobileItem5 mobileItem5 "
    ;
    
    /* #mSocksPDF{
        grid-area: ;
    }
    
    #mSheathsPDF{
        grid-area: mSheathsPDF;
    }
    
    #mSleevesPDF{
        grid-area: mSleevesPDF;
    }
    
    #mComponentsPDF{
        grid-area: mComponentsPDF;
    } */
    }

    #mobileComponentsSection{
grid-area: mobileItem5;
        display: grid;
        /* width: 190px; */
        width: 100%;
    
        height: 80%;
        /* margin-top: 4px; */
        /* padding: 0; */
        border: none;
        /* box-shadow: 0 0 10px rgb(0 0 0 / 15%); */
        font-size: 12px;
        /* line-height: 24px; */
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
        grid-gap: 4px;
        /* padding: 1px; */
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: max-content;
        grid-template-areas: 
        "mobileCompHeader mobileCompHeader mobileCompHeader"

        "mSocksPDF mSleevesPDF mComponentsPDF"
        
    ;
    }

#mobileCompHeader{
    grid-area: mobileCompHeader;
}
.fonty{
    font-size: .7vmax;
}
    #hiddenMobilePDFOuter {
        overflow: hidden;
        position: relative;
      }
      #hiddenMobilePDFInner {
        position: absolute;
        height: 100px;
        width: 100px;
        right: -50px;
        top: 50px;
      }

      .box {
    
        max-width: 750px;
        max-height: 900px;
        height: 900px;
        width: 750px;
        margin: auto;
        margin-bottom: 25px;
        padding: 5px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
     
        grid-gap: 1rem;
        ;
    }
    .box .top {
        display: grid;
        max-width: 750px;
        /* width: 733px; */
        width: auto;
    
        max-height: 300px;
        /* margin: 2px; */
        height: 100%;
        /* padding: 0; */
        border: none;
        /* box-shadow: 0 0 10px rgb(0 0 0 / 15%); */
        font-size: 16px;
        /* line-height: 24px; */
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
        grid-gap: 1rem;
        /* padding: 0; */
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 2;
        grid-template-areas: "title . . information"
        "information1 information1 . information2"
     ;
    }
    .box .body {
        display: grid;
        max-width: 750px;
        width: 100%;
        max-height: 500px;
        height: 100%;
        /* margin-top: 60px; */
        /* padding: 0; */
        border: none;
        /* box-shadow: 0 0 10px rgb(0 0 0 / 15%); */
        font-size: 16px;
        /* line-height: 24px; */
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
        grid-gap: .5rem;
        /* padding: 2px; */
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "item2 item1 item1 item3"
        "item2 item1 item1 item3"
        "item4 item5 item5 item5"
    ;
    }


    
.information2{
    grid-area: information2;
    text-align: right;
}
.information{
    grid-area: information;
    text-align: right;
    
}
.information1{
    grid-area: information1;
}
.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
    position: relative;
}
.invoice-box table.top {
    grid-area: top;

}

.item1{
    grid-area: item1;

    text-align: center;
}

.item2{
    grid-area: item2;
    text-align: center;

 
}

.item3{
    grid-area: item3;
    text-align: center;

 
}

.item4{
    grid-area: item4;
    text-align: center;

 
    height: 62px;

}

.item5{
    grid-area: item5;
    text-align: center;

    display: grid;
    max-width: 750px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    /* margin-top: 60px; */
    /* padding: 0; */
    border: none;
    /* box-shadow: 0 0 10px rgb(0 0 0 / 15%); */
    font-size: 16px;
    /* line-height: 24px; */
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
    grid-gap: .5rem;
    /* padding: 2px; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "compHead1 compHead1 compHead1"
    "comp1 comp2 comp3"


 
}
#pxCompSection{
    display: grid;
    max-width: 750px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    border: none;
    font-size: 16px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
    grid-gap: .5rem;
  
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "compHead1 compHead1 compHead1"
    "comp1 comp2 comp3"

}
                    #headingComp{
                        grid-area: compHead1;
                        text-align: center;


                    }
                    #item5SS{
                        grid-area: comp1;
                        text-align: center;

                    
                    }
                    #item5KS{
                        grid-area: comp2;
                        text-align: center;

                    
                    }
                    #item5Comp{
                        grid-area: comp3;
                        text-align: center;

                    
                    }

.item6{
    grid-area: item6;
    text-align: center;

 
}

.item7{
    grid-area: item7;
    text-align: center;

 
}

.item8{
    grid-area: item8;
    text-align: right;

 
}



.title {
    max-width: 50px;
    max-height: 50px;
    grid-area: title;
}

.heading{
    background-color: grey;
    color:black;
}

.heading.cent{
    text-align: center;
}

p {
    margin: 0;
    max-width: 20%;
}

ul {
    padding-left: 2px;
    margin-bottom: 2px;
}

#mDemographicsPDF{
    grid-area: mDemographicsPDF;
}

#mFeetPDF{
    grid-area: mFeetPDF;
}

#mKneesPDF{
    grid-area: mKneesPDF;
}

#mLinersPDF{
    grid-area: mLinersPDF;
}

#mSocksPDF{
    grid-area: mSocksPDF;
}

#mSheathsPDF{
    grid-area: mSheathsPDF;
}

#mSleevesPDF{
    grid-area: mSleevesPDF;
}

#mComponentsPDF{
    grid-area: mComponentsPDF;
}
}