nav {
    background-color: #08719e   ;
}
footer {
    background-image: linear-gradient(rgb(184, 182, 182), white);
    padding: 60px 0;
}

div {
    position: relative;
}
a{
    text-decoration: none;
}
header {
    background-color: #34b4eb !important ;
}
body {
    background-image:linear-gradient (#b0a330, white);
}

/*  THE BELOW CODE MODIFIES THE ACCORDION STYLE MENU ITEM IN TEST
body {
    background-image: linear-gradient(to right, #fe8f3f, #00bfff);
}
*/

/* The below code connects with the accordion style code in test.  */
/* .list-group.panel > .list-group-item { 
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}
.list-group-submenu {
  margin-left:20px;
}

*/
/* *{ 
    margin: 0;
    padding: 0;
    font-family: 'lato';
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #fcdc29;
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mainMenu{
    width: 250px;
    display: block;
    border-radius: 10px;
    overflow: hidden;
}
.item{
    border-top: 1px solid #ef584a;
    overflow: hidden;
}
.btn{
    display: block;
    padding: 15px 20px;
    background-color: #ff6f61;
    color: #fff;
    position: relative;

}
.btn:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right:8px solid transparent;
    border-top:10px solid #ff6f61;
    right: 15px;
    bottom: -10px;
    z-index: 9;
    
}
.btn i {
    margin-right: 10px;
}
.subMenu{
    background: #273057;
    overflow: hidden;
    transition: max-height 0.7s;
    max-height: 0;
}
.subMenu a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #394c7f;
    position: relative;
    
}
.subMenu a:before{
    content: '';
    opacity: 0;
    transition: opacity 0.3s;

}
.subMenu a:hover:before{
    content: '';
    position: absolute;
    height: 0;
    width: 6px;
    left: 0;
    top:0;
    opacity: 1;
    /* background-color: #d8d824; 
    border-top: 24px solid transparent;
    border-left: 11px solid #fcdc29;
    border-bottom: 24px solid transparent;
}*/
/* .subMenu a:after{ 
    content: '';
    opacity: 0;
    transition: opacity 0.3s;

}
.subMenu a:hover:after{
    content: '';
    position: absolute;
    height: 0;
    width: 6px;
    right: 0px;
    top:0;
    opacity: 1;
    /* background-color: #d8d824; */
    /* border-top: 24px solid transparent; 
    border-right: 11px solid #fcdc29;
    border-bottom: 24px solid transparent;
}*/
/* .subMenu a:hover{ 
    background: #273057;
    background: -moz-linear-gradient(top, #273057 0%, #273057 50%, #394c7f 51%, #394c7f 100%);
    background: -webkit-linear-gradient(top, #273057 0%,#273057 50%,#394c7f 51%,#394c7f 100%);
    background: linear-gradient(to bottom, #273057 0%,#273057 50%,#394c7f 51%,#394c7f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#273057', endColorstr='#394c7f',GradientType=0 );
    transition: all 0.3s;
    border-bottom: 1px solid #394c7f;
}
.subMenu a:last-child{
    border:none;
}
.item:target .subMenu{
    max-height: 10em;
}

*/





































/*

fieldset {
    border-style: none;
}
h1 {
    margin: 50px 10px 50px; 
    text-align:center; 
    background-color: #fe8f3f; 
    opacity: .4;
}


section {
    
    display: inline-block; 
    border-style: solid; 
    border-color: #fe8f3f; 
    background-color: #00bfff; 
    border-radius: 20px; 
    width: 250px; 
    height:250px;
    margin:20px 50px 20px;
    padding: 10px 20px 10px;
    position: relative;
}
body {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}


@font-face {
    font-family: PROXIMA-NOVA; src: url ('../fonts/ProximaNova-Regular.otf');
}


iframe{
    border: none;
}
input {
    background-color: #6e6f72;
    border: 2px solid #fe8f3f;
    border-radius: 15px;
    display: inline-block;

}
.hideLook {
    background-color: red;
}
.ttChoice {
    display: none;
}
.tfChoice {
    display: none;
}
/* Style the button that is used to open and close the collapsible content */
/*
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  /*
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  /*
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }