.navbar {
    background-color: #fe8f3f ;
}













































/*

fieldset {
    border-style: none;
}
h1 {
    margin: 50px 10px 50px; 
    text-align:center; 
    background-color: #fe8f3f; 
    opacity: .4;
}


section {
    
    display: inline-block; 
    border-style: solid; 
    border-color: #fe8f3f; 
    background-color: #00bfff; 
    border-radius: 20px; 
    width: 250px; 
    height:250px;
    margin:20px 50px 20px;
    padding: 10px 20px 10px;
    position: relative;
}
body {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}


@font-face {
    font-family: PROXIMA-NOVA; src: url ('../fonts/ProximaNova-Regular.otf');
}


iframe{
    border: none;
}
input {
    background-color: #6e6f72;
    border: 2px solid #fe8f3f;
    border-radius: 15px;
    display: inline-block;

}
.hideLook {
    background-color: red;
}
.ttChoice {
    display: none;
}
.tfChoice {
    display: none;
}
/* Style the button that is used to open and close the collapsible content */
/*
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  /*
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  /*
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }