
/* .mainVirtual{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "sideCorrectionsSectionStyles vvForm"

;
} */

.sideCorrectionsSectionStyles {
    grid-area: sideCorrectionsSectionStyles;
}

.vvForm {
    grid-area: vvForm;
}


#addNotes {
    width: 100%;
  }

.information2{
    grid-area: information2;
    text-align: right;
}
.information{
    grid-area: information;
    text-align: right;
}
#addNotes {
    width: 100%;
  }
.information1{
    grid-area: information1;
}
.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
    position: relative;
}
.invoice-box table.top {
    grid-area: top;

}

.item1{
    grid-area: item1;

    font-size: 12px;
    text-align: center;
}

.item2{
    grid-area: item2;

    font-size: 12px;
}

.item3{
    grid-area: item3;

    font-size: 12px;
    text-align: right;
}

.item4{
    grid-area: item4;

    font-size: 12px;
    height: 250px;

}

.item5{
    grid-area: item5;

    font-size: 12px;
}

.item6{
    grid-area: item6;

    font-size: 12px;
}

.item7{
    grid-area: item7;

    font-size: 12px;
}

.title {
    max-width: 200px;
    max-height: 200px;
    grid-area: title;
}

.heading{
    background-color: grey;
    color:black;
}

.heading.cent{
    text-align: center;
}

.heading.rght{
text-align: right;
}

.box {
    
    max-width: 800px;
    max-height: 1000px;
    height: 1000px;
    width: 800px;
    margin: auto;
    margin-bottom: 25px;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
 
    grid-gap: 1rem;
    padding: .5rem;
    ;
}
.box .top {
    display: grid;
    max-width: 733px;
    width: 733px;
    max-height: 400px;
    margin: 2px;
    height: auto;
    padding: 0;
    border: none;
    /* box-shadow: 0 0 10px rgb(0 0 0 / 15%); */
    font-size: 16px;
    /* line-height: 24px; */
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
    grid-gap: 1rem;
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "title . . information"
    "information1 information1 . information2";
}
.box .body {
    position: absolute;
    display: grid;
    max-width: 800px;
    width: 760px;
    max-height: 700px;
    height: auto;
    margin-top: 60px;
    padding: 0;
    border: none;
    /* box-shadow: 0 0 10px rgb(0 0 0 / 15%); */
    font-size: 16px;
    /* line-height: 24px; */
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
    grid-gap: .5rem;
    padding: 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "item2 item1 item1 item3"
    "item2 . . item3"
    "item4 item5 item6 item7"
;
}

.btn {
    margin: 15px;
}


/* Start of Main body grid layout */

.infoOne{
    grid-area: infoOne;

}

.recc{
    grid-area: recc;

    /* background-color: blue; */
}

.change{
    grid-area: change;

    /* background-color: pink; */
}

.ampCause{
    grid-area: ampCause;

    /* background-color: purple; */
}

.icdTen{
    grid-area: icdTen;

    /* background-color: green; */
}

.demographic{
    grid-area: demographic;

    /* background-color: brown; */
}

.strength{
    grid-area: strength;

    /* background-color: teal; */
}

.k-level{
    grid-area: k-level;

    /* background-color: yellow; */
}

.ROM{
    grid-area: ROM;

    /* background-color: silver; */
}

.timeUse{
    grid-area: timeUse;

    /* background-color: black; */
}

.socksUse{
    grid-area: socksUse;

    /* background-color: orange; */
}

.commitment{
    grid-area: commitment;

    /* background-color: orchid; */
}

.components{
    grid-area: components;

    /* background-color: burlywood; */
}

.additional{
    grid-area: additional;

    /* background-color: aqua; */
}

.saveButton{
    grid-area: saveButton;

    /* background-color: aqua; */
}

.intro {
    grid-area: intro;

    /* background-color: rebeccapurple; */
}

#googleMapsContainer{
    grid-area: mapsContainer;
}

#fpClinName{
    grid-area: fpName;
}

/* .box .top {
    display: grid;
    max-width: 733px;
    width: 733px;
    max-height: 400px;
    margin: 2px;
    height: auto;
    padding: 0;
    border: none;
    font-size: 16px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
    grid-gap: 1rem;
    padding: 0;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: "title . . information"
    "information1 information1 . information2";
} */
.vvForm {
    display: grid;
    width: 100%;
    height: auto;
    margin-top: 60px;
    padding: 0;
    border: none;
    /* box-shadow: 0 0 10px rgb(0 0 0 / 15%); */
    font-size: 1.2vmax;
    /* line-height: 24px; */
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    grid-gap: .5rem;
    padding: 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "intro intro intro intro"
    "infoOne infoOne infoOne infoOne"
    "fpName fpName fpName fpName"
    "recc change ampCause k-level"
    "icdTen icdTen strength ROM"
    "icdTen icdTen demographic ROM"
    "icdTen icdTen demographic ROM"
    "icdTen icdTen mapsContainer mapsContainer"

    "timeUse socksUse components components "
    "commitment commitment commitment commitment"
    "additional additional additional additional"
    "saveButton . . .";
}

@media screen and (max-width: 450px){
    .vvForm {
        display: grid;
        width: 100%;
        height: auto;
        margin-top: 60px;
        padding: 0;
        border: none;
        /* box-shadow: 0 0 10px rgb(0 0 0 / 15%); */
        font-size: 16px;
        /* line-height: 24px; */
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        grid-gap: .5rem;
        padding: 2px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "intro"
        "infoOne"  
        "fpName"      
        "recc"
        " change "
        " ampCause"
        "icdTen"
        "demographic "
        "strength"
         "k-level"
         "ROM"
        "timeUse"
        "socksUse"
        "commitment"
        "components"
        "additional"
        "saveButton";
    }
}

/* .radio {
    display: none;
} */